.box{
    border: 2px solid black;
    padding: 30px;
    background-color: rgb(251, 251, 251);
    width: 400px;
    margin: 10px;
    height: 50  0px;
    transform: translate(850px,-510px);
}
.boxheading{
    color: rgb(18, 19, 19);
    font-family: Bahnschrift SemiBold;
    font-size: large;
    text-align: center;
}
.name{
    color: rgb(9, 34, 198);
    font-size: medium;
    font-family: Bahnschrift SemiBold;
}
.textname{
    width: 300px;
    height: 20px;
    margin: 1px;
    font-size: large;
    border: 2px solid black;
}
.body{
    background-color: bisque;
}
.button{
    width: 95px;
    height: 45px;
    background-color: blue;
    color:aliceblue;
    padding: -5.5px;
    border-radius: 5px;
    cursor: pointer;
}
.Signup{
    font-family: Bannschift SemiBold;
    color: aliceblue;
}
.Agree{
   font-size: medium;
}
.anchor{
    font-size: larger;
}
.other{
    font-size: large;
    font-family: Bannschift SemiBold;
}
.google{
    width:77px;
    height: 45px;
    background-color: white;
}
.facebook{
    width:77px;
    height: 45px;
}
.Linkedin{
    width:77px;
    height: 45px;
}
.github{
    width:77px;
    height: 45px;
}
.img1{
    width:1cm;
    height:1cm;
}
.img2{
    width: 300px;
    height: 115px;
    margin-top: -30px;
    border: 1px solid black;
    cursor: pointer;
}
.heading{
    border:15px;
    margin:50px;
    padding:25px;
    background-color: bisque;
    width: 750px;
    height: 150px;
}
.navigation{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: large;
}
.li{
    display: inline;
    padding: 45px;
}
.heading2{
    margin-left:400px;
    margin-top: -115px;
    width: 1000px;
    height: 45px;
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
    font-weight: bolder;
}
.img3{
    width:550px;
    height: 350px;
    margin: 3px;
    margin-left: 100PX;
    border-radius: 15px;
    border: 1.5px solid black;
}
footer{
  background-color:rgb(85, 85, 151);
  text-align: center;
  font-family: Bahnschrift SemiBold;
  font-size: large;
  margin-top: -30%;
  border: 2px solid black;
  
}
.a{
    color: white;
}
